@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap');
header{
    display: flex;
    margin-top: 15px;
}
header .icon{
    padding-right: 49rem;
    padding-left: 5rem;
}
.container{
    display: flex;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-profile{
    margin-right: 110px;
}
.about-profile h5{
    color: grey;
}
.profile-image{
    margin-left: 80px;
    border-radius: 50%;
    width: 270px;
    height: 270px;
}
.contact-btn{
    border: none;
    border-radius: 18px;
    background-color: hwb(207 25% 31%);
    color: white;
    height: 2.3rem;
    width: 8rem;
    margin-right: 20px;
}
.about-btn{
    border-radius: 15px;
    background-color: hwb(204 76% 8%);
    color: black;
    height: 2.3rem;
    width: 8rem;
}
footer{
    display: flex;
    margin-top: 230px;
    background-color: gray;
    height: 5rem;
}
.nav a{
    color: grey;
    font-weight: bolder;
}
footer .dev{
    padding-left: 5rem;
    padding-right: 60rem;
    padding-top: 15px;
}
footer .socialIcons i{
    font-size: 25px;
    margin: 15px 15px;
    transition: 0.3s;
    color: black;
}
footer .socialIcons i:hover{
    color: blue;
}