@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;}
/*Navbar*/
nav{
    display: flex;
    position: fixed;
    opacity: 0.8;
    margin-top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav .nav{
    margin-right: 8%;
    float: left;
}
nav .icon{
    display: flex;
}
nav .icon-image{
    padding-left: 3rem;
    height: 60px;
    width: 113px;
}
nav .icon-name{
    color: grey;
    padding-top: 1.2rem;
}
.nav a{
    color: grey;
    font-weight: bolder;
}
input[type=checkbox]{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
    padding-right: 2rem;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
/*About Me section*/
.about-profile{
    position: relative;
    padding-left: 2rem;
    padding-top: 10%;
    width: 45%;
}
span{
    font-size: 60px;
    font: bolder;
}
span .my-name{
    color: rgb(70, 70, 146);
}
.my-intro{
    color: black;
}
.about-profile p{
    color: grey;
    font-size: 20px;
    padding: 10px 0;
}
.about-profile p{
    color: grey;
}
.profile-image{
    margin-top: 5%;
    border-radius: 50%;
    width: 570px;
    height: 570px;
    max-width:100%;
    float: right;
    margin-left: 5rem;
    margin-right: 2rem;
}
.more-about-me-btn{
    border: none;
    border-radius: 18px;
    background-color: hwb(207 25% 31%);
    color: white;
    height: 2.3rem;
    width: 10rem;
    margin-right: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: .3s;
}
.more-about-me-btn:hover{
    background-color: hwb(220 25% 31%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
/*My Projects section*/
.projects-header{
    padding-left: 45%;
}
#projects{
    padding-top: 6%;
}
.my-projects{
    display: flex;
}
.my-projects-row-two{
    display: flex; 
    padding-bottom: 5rem;
}
/*Bootstrap Cards*/
.card{
    margin: 1.1rem;
    width:500px;
    background-color:transparent;
    border-color: rgb(70, 70, 146);
}
.card .card-title{
    color:black;
}
.card .card-text{
    color:black;
    font-family: sans-serif;
}

.card-img-top{
    height: 12rem;
    max-width:100%;
}
/*My Skills section*/
.skills-header{
    padding-left: 45%;
}
.flex{
    display: flex;
    justify-content:center; 
    align-items: center;
}
#skills{
    padding-top: 6%;
}
/*Education & Experience section*/
#education{
    display: block;
}
.education-header{
    font: bold;
    font-size: 32px;
    padding-left: 39%;
}
span .education-and-experience{
    color: rgb(70, 70, 146);
    font: bold;
    font-size: 34px;
    margin-right: 0.5%;
}
.education-cards .first-education{
    padding-top: 5rem;
    margin-right: 45%;
}
.education-cards .first-experience{
    margin-left: 50%;
}
.vl {
    position:absolute;
    border-left: 6px solid black;
    height: 1220px;
    left: 50%;
    top: 160rem;
  }
/*Footer*/
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    top: 4rem;
}
footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social-media-links{
    padding: 1% 10%;
}
footer .contact-links{
    padding: 1% 10%;
}
footer .about-links{
    padding: 1% 10%;;
}
footer p{
    padding-bottom: 1rem;
    padding-left: 40%;
}
footer .links i{
    font-size: 13px;
    margin: 15px 8px;
    transition: 0.2s;
    color: black;
}
footer .links i:hover{
    color: blue;
}
/*Section Height*/
section {
    height: 50% ; 
}
/*education section*/
@media screen and (max-width: 579px){
    .education-header{
        font-size: 22px;
        position: relative;
        right: 4rem;
    }
    span .education-and-experience{
        font-size: 22px;
    }
    .skills-header{
        position: relative;
        right: 2rem;
    }
    .projects-header{
        position: relative;
        right: 3rem;
    }
}
@media screen and (max-width: 579px){
    .icon{
        visibility: hidden;
    }
    .profile-image{
        visibility: hidden;
    }
    .education-header{
        padding-left: 8rem;
    }
    .about-profile{
        height: 200%;
        margin-top: 10rem;
        margin-left: 25%;
    }
    footer p{
        font-size: 12px;
        position: relative;
        right: 2rem;
    }
}
/*Education Header*/
@media screen and (max-width: 850px){
    .education-header{
        padding-left: 29%;
    }
    footer .links i{
        font-size: 11px;
    }
}
/*My Projects*/
@media screen and (max-width: 801px){
    .my-projects{
        display: block;
    }
    .my-projects-row-two{
        display: block;
    }
    .my-projects .card{
        width:100%;
        margin: 1px;
        margin-right: 10%;
    }
    .my-projects-row-two .card{
        width:100%;
        margin: 1px;
        margin-right: 10%;
    }
    .education-cards .card{
        width:200%;
        margin: 1px;
    }
}
/*Navbar and education header*/
@media screen and (max-width: 380px){
    nav .nav{
        display: inline;
        justify-content:center;
        align-content: center;
        position: relative;
        right: 25%;
        }
        .nav-item{
            display: none;
        }
        input[type=checkbox]:checked ~ .nav-item{
            display: block;
            padding: 0% 40%;
        }
        .hamburger{
            display: block;
        }
    }
    .education-header{
        font-size: 20px;
        position: relative;
        right: 3rem;
    }
    span .education-and-experience{
        font-size: 24px;
    }
    footer p{
        font-size: 10px;
        position: relative;
        right: 2rem;
    }
}
/*Navbar for smaller screens*/
/*@media screen and (max-width: 361px) {
    nav .nav{
        display: inline;
        justify-content:center;
        align-content: center;
        position: relative;
        right: 25%;
    }
}*/
/*Navbar for screens smaller than 321px*/
@media screen and (max-width: 321px) {
    /*nav .nav{
        display: inline;
        justify-content:center;
        align-content: center;
        position: relative;
        right: -35%;
    }*/
    .education-header{
        font-size: 15px;
        position: relative;
        right: 2rem;
    }
    span .education-and-experience{
        font-size: 15px;
    }
}
/*Responsive footer*/
@media screen and (max-width: 600px){
    footer .links{
        flex-direction: column;
        padding: 20px 30px;
    }
    footer p{
        padding-left: 25%;
    }
    /*Reducing skills flex div*/
    .flex{
        -webkit-transform:scale(0.5);
        -moz-transform:scale(0.5);
        -ms-transform:scale(0.5);
        transform:scale(0.5);
    }
}
/*Cards and education header section responsiveness*/
@media screen and (max-width: 1200px){
    .vl{
        visibility: hidden;
    }
    .education-cards .card{
        width:100%;
    }
    .education-cards .first-education{
        margin: 1px;
        margin-right: 10%;
    }
    .education-cards .first-experience{
        margin: 1px;
        margin-right: 10%;
    }
    .about-profile{
        height: 70%;
    }
    footer p{
        padding-left: 30%;
    }
}