@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap');
nav{
    display: flex;
    margin-top: 15px;
    position: fixed;
    opacity: 0.8;
}
nav .icon{
    padding-right: 49rem;
    padding-left: 5rem;
}
section {
    height: 100vh;
}
.about-profile{
    margin-right: 20rem;
}
.about-profile h5{
    color: grey;
}
.profile-image{
    margin-left: 30px;
    border-radius: 50%;
    width: 270px;
    height: 270px;
}
.more-about-me-btn{
    border: none;
    border-radius: 18px;
    background-color: hwb(207 25% 31%);
    color: white;
    height: 2.3rem;
    width: 10rem;
    margin-right: 20px;
}
.projects-header{
    padding-top: 7rem;
    padding-left: 45%;
}
.card{
    margin: 1.1rem;
    width:500px;
    background-color:transparent;
}
.card .card-title{
    color:black;
}
.card .card-text{
    color:black;
}

.card-img-top{
    height: 12rem;
}
footer{
    background-color: gray;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    position:relative;
    z-index:99;
}
footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social-media-links{
    padding: 1rem 10rem;
}
footer .contact-links{
    padding: 1rem 10rem;
}
footer .about-links{
    padding: 1rem 10rem;
}
footer p{
    padding-bottom: 1rem;
    padding-left: 40%;
}
.nav a{
    color: grey;
    font-weight: bolder;
}
footer .links i{
    font-size: 18px;
    margin: 15px 8px;
    transition: 0.2s;
    color: black;
}
footer .links i:hover{
    color: blue;
}
.flex{
    display: flex;
    justify-content:center; 
    align-items: center;
}
.skills-header{
    padding-top: 7rem;
    padding-left: 45%;
}